.bold-lines {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  display: block;
  width: 10rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: red;
  opacity: 0;
  transform: translateX(-5rem);

  &:first-of-type {
    margin-bottom: 1.4rem;
  }

  &:last-of-type {
    margin-left: 9.4rem;
  }
}
