@keyframes linesInLeft {
  0% {
    width: 5rem;
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    width: 10rem;
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes navigationIn {
  0% {
    // width: 0rem;
    opacity: 0;
  }

  100% {
    // width: 3rem;
    opacity: 1;
  }
}

@keyframes navigationInSelected {
  0% {
    width: 3rem;
  }

  100% {
    width: 6rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  70% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  70% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes headingIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/*******************************
 * -------- Clouds ----------- *
********************************/
@keyframes cloudRight {
  0% {
    transform: translateX(-5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloudLeft {
  0% {
    transform: translateX(5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moonUp {
  0% {
    transform: translateY(20rem);
  }

  80% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0);
  }
}
