.heading-primary {
  color: $text-color-light;
  text-transform: uppercase;
  overflow: hidden;

  &--main {
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: 1rem;
    transform: translateX(-100%);

    &.visible {
      transform: translateX(0);
    }
  }
}

.heading-secondary {
  color: $text-color-light;
  text-transform: lowercase;
  overflow: hidden;

  &--main {
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    transform: translateX(-100%);
  }
}

.heading-paragraph {
  color: $text-color-light;
  text-transform: lowercase;
  overflow: hidden;
  max-width: 55rem;

  &--main {
    font-size: 2.2rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    transform: translateX(-100%);
  }
}
